<!DOCTYPE html>
        <html>
            <head>
                <meta charset="utf-8" />
                <title>Sign in or up</title>
            </head>
            <body>
               <form action="/profile" method="post">
                  <div>
                     <label for="name">Identifiant :</label>
                     <input type="text" id="Identifiant" name="user_name">
                  </div>
                  <div>
                     <label for="password">Password :</label>
                     <input type="password" id="password" name="user_pw">
                  </div>
                  <div> 
                     <button type="submit">Connect</button>
                  </div>
               </form>
            </body>
        </html>